@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700|Roboto');

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

.header {
	position: relative;
	max-width: 1024px;
	height: 120px;
	margin: 0 auto;
}

.menu-button {
	margin-top: 18px;
	margin-left: 18px;
	width: 32px;
	height: 32px;
	background-image: url(../img/menu.png);
	float: left;
	display: none;
}

.menu-button:hover {
	opacity: 0.87;
	cursor: pointer;
}

.logo {
	position: absolute;
	padding: 13px 0;
	left: 10px;
}

.num {
	position: absolute;
	padding: 18px 0;
	right: 10px;
	color: #8e3331;
	font-family: 'Lato', sans-serif;
}

.sm {
	font-size: 21px;
}

.lg {
	font-size: 30px;
}

.menu-block {
	position: relative;
	height: 46px;
	width: 100%;
	top: -52px;
	background-image: url(../img/back_rect.png);
}

.menu {
	max-width: 1024px;
	margin: 0 auto; 
}

.menu ul {
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: auto;
	list-style: none;
}

.menu ul li {
	height: 22px;
	border-left: 1px solid #fff;
	flex-basis: 25%;
	text-align: center;
	padding-top: 5px;
}
.menu ul li:last-child {
	border-right: 1px solid #fff;
}

.menu a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}
.menu a:hover {
	color: #eee;
	text-decoration: underline;
}

.main {

}

.back-block1 {
	position: relative;
	top: -52px;
	height: 574px;
	width: 100%;
	background-image: url(../img/back_block_1.png);
	background-position: center;
}

.block1 {
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
}

.seminar {
	width: 493px;
	height: 388px;
	margin-top: 92px;
	background-image: url(../img/kick.png);
	background-size: cover;
	float: left;
}

.btn {
	position: relative;
	width: 357px;
	height: 53px;
	top: 295px;
	left: 14%;
	background-color: #ff4747;
	color: #fff;
	border: none;
	border-radius: 6px;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	cursor: pointer;
}

.btn > a {
	text-decoration: none;
	color: #fff;
}

.kick-img {
	width: 632px;
	height: 560px;
	margin-left: 44%;
	background-image: url(../img/youre_fired.png);
	background-size: cover;
}

.back-block2 {
	position: relative;
	width: 100%;
	height: 310px;
	background-color: #f4f8ff;
	top: -56px;
	border-bottom: 2px solid #a3b2d0;
}

.block2 {
	max-width: 1024px;
	margin: 0 auto;
}

.block2-img {
	position: relative;
	width: 446px;
	height: 234px;
	background-image: url(../img/block_2_img.png);
	background-size: cover;
	float: left;
	top: 76px;
	left: 25px;
}

.block2-text {
	position: relative;
	width: 485px;
	height: 126px;
	background-image: url(../img/this_seminar.png);
	background-size: cover;
	top: 95px;
	left: 49%;
}

.block3 {
	padding-top: 40px;
	padding-bottom: -80px;
	height: 378px;
	text-align: center;
	border-bottom: 1px solid #a6b4d0;
}

.block3 ul {
	margin-top: 25px;
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 2em;
	list-style-image: url(../img/bell.png);
	list-style-position: inside;
	text-align: center;
}

.back-block4 {
	position: relative;
	width: 100%;
	height: 685px;
	background-color: #f4f8ff;
	border-bottom: 1px solid #a6b4d0;
}

.block4 {
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
}

.block4 img {
	position: relative;
	margin: 105px 0 80px 0;
}

.block4-flex-circles {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-basis: 120px;
	flex-wrap: wrap;
}

.circle {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	border: 1px solid #617aac;
	background-color: #fff;
}

.clock {
	background-image: url(../img/clock.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 66px;
}

.export {
	background-image: url(../img/export.png);
	background-position: 54% 48%;
	background-repeat: no-repeat;
	background-size: 59px;
}

.users {
	background-image: url(../img/users.png);
	background-position: 53% 49%;
	background-repeat: no-repeat;
	background-size: 56px;
}

.eye {
	background-image: url(../img/eye.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 67px;
}

.block4-flex-text {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.features-text {
	font-family: 'Open Sans';
	padding: 10px;
	flex-basis: 19%;
}

.btn-2-block {
	position: relative;
	text-align: center;
	margin-top: 65px;
}

.left-arrow {
	width: 69px;
	height: 51px;
	background-image: url(../img/left_arrow.png);
	display: inline-block;
	margin-right: 30px;
	vertical-align: middle;
}

.btn-2 {
	position: relative;
	width: 357px;
	height: 53px;
	vertical-align: -10px;
	background-color: #ff4747;
	color: #fff;
	border: none;
	border-radius: 6px;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	cursor: pointer;
}

.btn-2 > a {
	text-decoration: none;
	color: #fff;
}

.right-arrow {
	width: 69px;
	height: 51px;
	background-image: url(../img/right_arrow.png);
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
}

.back-block5 {
	width: 100%;
	height: 500px;
	border-bottom: 1px solid #a0afcc;
}

.block5 {
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
}

.block5 img {
	position: relative;
	margin: 95px 0 50px 0;
}

.block5-flex-areas {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-basis: auto;
}

.area {
	width: 120px;
	height: 100px;
}

.click {
	background-image: url(../img/click.png);
	background-position: center;
	background-repeat: no-repeat;
}

.users-1 {
	background-image: url(../img/users1.png);
	background-position: center;
	background-repeat: no-repeat;
}

.briefcase {
	background-image: url(../img/briefcase.png);
	background-position: center;
	background-repeat: no-repeat;
}

.rocket {
	background-image: url(../img/rocket.png);
	background-position: center;
	background-repeat: no-repeat;
}

.block5-flex-text {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.structure-text {
	font-family: 'Open Sans';
	font-weight: bold;
	padding: 10px;
	flex-basis: 20%;
}

.back-block6 {
	position: relative;
	width: 100%;
	height: 565px;
	background-image: url(../img/back_block_6.png);
	background-position: top;
	background-size: 130%;
	background-repeat: no-repeat;
	border-bottom: 1px solid #a0afcc;
}

.block6 {
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
}

.photo {
	position: relative;
	width: 483px;
	height: 500px;
	top: 65px;
	left: 30px;
	background-image: url(../img/natali_photo.png);
	background-repeat: no-repeat;
	float: left;
}

.trainer {
	position: relative;
	left: 30px;
	top: 130px;
}

.trainer ul {
	position: relative;
	margin-top: 20px;
	left: 20px;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 1.7em;
	list-style-position: outside;
}

.back-block7 {
	position: relative;
	width: 100%;
	height: 560px;
	text-align: center;
}

.block7 {
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
}

.block7 img {
	margin: 95px 0 30px 0;
}

.block7 p {
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 1.4em;
	color: rgba(0, 0, 0, 0.7);
}

.form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-bottom: 12px;
}

.form input {
	font-family: 'Open Sans';
	font-size: 16px;
	flex-basis: 415px;
	height: 40px;
	margin: 5px;
	padding-left: 15px;
	border: 1px solid #888;
	border-radius: 5px;
}

.block7 p:last-of-type {
	margin-bottom: 27px;
}

footer {
	position: relative;
	width: 100%;
	height: 120px;
}

.foot-wrap-top {
	height: 82px;
	background-image: url(../img/back_rect.png);
}

.foot-wrap-bottom {
	height: 39px;
	background-color: #3d3e3e;
}

.footer {
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
}

.footer > img {
	position: absolute;
	padding: 13px 0;
	left: 10px;
}

.soc-logo {
	display: flex;
	width: 180px;
	height: 81px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

footer .num {
	color: #fff;
	position: absolute;
	top: 0;
}

.copyright {
	font-family: 'Open Sans';
	font-size: 15px;
	color: #d8d8d8;
	padding-top: 9px;
	text-align: center;
}

@media screen and (max-width: 1023px) {
	.trainer ul {
		font-size: 16px;
	}
}

@media screen and (max-width: 973px) {
	.block2-img {
		width: 400px;
		height: 180px;
		top: 131px;
		left: 25px;
	}

	.block2-text {
		width: 365px;
		height: 95px;
		top: 120px;
	}

	.trainer {
		left: 0;
	}

	.trainer ul {
		font-size: 15px;
		left: 10px;
	}
	
	.block1 {
		height: 575px;
		max-width: 973px;
		position: relative;
	}

	.seminar {
		margin-left: 5em;
		margin-top: 92px;
	}
}

@media screen and (max-width: 900px) {
	.menu-block {
		display: block;
	}

	.photo {
		width: 400px;
		height: 475px;
		top: 90px;
		left: -20px;
		background-image: url(../img/natali_photo.png);
		background-repeat: no-repeat;
		float: left;
	}

	.trainer ul{
		left: 15px;
	}

	.back-block7 {
		height: 630px;
	}
}

@media screen and (max-width: 811px) {
	.logo {
		left: 70px;
	}

	.header {
		position: fixed;
		z-index: 3;
		background-color: #fff;
		width: 100%;
		height: 70px;
		border-bottom: 1px solid #a0afcc;
	}

	.menu-block {
		position: fixed;
		display: block;
		width: 190px;
		height: 162px;
		top: 70px;
		z-index: 3;
		display: none;
	}

	.menu-block ul {
		height: 162px;
		display: block;
		border-bottom: 1px solid #fff;
	}

	.menu-block li {
		height: 30px;
		border-right: 1px solid #fff;
	}

	.menu-button {
		display: block;
	}

	.main {
		position: relative;
		top: 70px;
	}

	.back-block7 {
		height: 750px;
	}
}



.back-block-t {
	position: relative;
	width: 100%;
	height: 400px;
	text-align: center;
}

.block-t {
	margin-left: 30%;
	margin-top: 50px;
	text-align: center;
}

.block-t p {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 12pt;
	color: #000;
}

.cong {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 20pt;
	text-transform: uppercase;
	color: #45619d;
}

.btn-t {
	position: relative;
	width: 357px;
	height: 53px;
	top: 40px;
	left: 31%;
	background-color: green;
	border: none;
	border-radius: 6px;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
}

.btn-t > a {
	text-decoration: none;
	color: #fff;
}